include _mixins
doctype html
html(lang="en").no-js
  head
    +head
  body
    +menu(true, false)
    +banners
    
    +registrarTarjeta(false)

    
        
    
        

    +suscribe
    
    +footer

    +scripts

    script.
        $(document).ready(function(){
            $('#registrar-tarjeta').foundation('open');
        });



    



    
